---
layout: empty
---
<div class="wrapper">
<div class="header">
<div class="container">
<strong><a href="/">Ben Alpert</a></strong>
</div>
</div>
{{content}}
<div class="push"></div>
</div>
<div class="footer">
<div class="container">
<div class="copy">&copy; Ben Alpert</div>
<a href="mailto:ben@benalpert.com">email</a> &bull;
<a href="http://stackoverflow.com/users/49485/ben-alpert">stack overflow</a> &bull;
<a href="http://github.com/spicyj">github</a> &bull;
<!-- TODO(ben): Change URL to feedburner once you've set that up. -->
<a href="/atom.xml">feed</a>
</div>
</div>
